<%- include("./particals/header.ejs") %>

  <div class="container">   
    <h1>Short URL Generator</h1>
    <p>Enter your long URL below to generate a shorter version.</p>
    <form class="url-form" action="http://localhost:5000/api/v1/generate/shortUrl" method="post">
      <input type="text" required placeholder="Paste your URL here..." class="url-input" name="url"
        value="<%= locals.longURL %>">
      <button type="submit" class="generate-btn">Generate</button>
    </form>
    <% if (locals.error) { %>
      <p class="error"><%= error %></p>     
    <% } %>

    <% if(locals.shortUrl){ %>
      <div class="short-url">
        <p>Short URL:</p>
        <div class="result">
          <a href="<%= locals.shortUrl %>" target="_blank">
            <%= locals.shortUrl %>
          </a>
          <button id="copyButton" onclick="copyShortLick()" class="copy">Copy</button>
        </div>
      </div>
      <button onclick="backtoHome()" class="back_home">Generate new url</button>
      <% } %>

  </div>

  <script>
    function copyShortLick() {
      const shortUrl = document.querySelector('.result a').href;
      navigator.clipboard.writeText(shortUrl).then(function () {
        copyButton.innerHTML = "Copied!"; 
        setTimeout(() => {
          copyButton.innerHTML = "Copy"; 
        }, 2000);
      })
    };

    function backtoHome() {
      window.location.pathname = "/"
    }
  </script>

</body>

</html>